<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/thymeleaf.css}" rel="stylesheet" type="text/css">
<title>Insert title here</title>
</head>
<body>
	<h1>Hello Thymeleaf!!!</h1>
	<span th:attr="id=${'form_'+greeting2}" th:text="${'hiab_'+greeting}">></span>
	<span th:text="${greeting}">></span>	
	<table>
		<thead>
			<tr>
				<th>번호</th>
				<th>제목</th>
				<th>작성자</th>
				<th>날짜</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>테스트 제목 입니다.</td>
				<td>이종민</td>
				<td>2020.03.12</td>
			</tr>
		</tbody>
	</table>
</body>
</html>